
*{
    box-sizing: border-box;
    margin: 0;
}

/* #region Color Palette */
:root{
    --bool-dark: rgba(0, 0, 0, 1);
    --bool-light: rgba(255, 255, 255, 1);
    --bool-primary: rgba(246, 248, 249, 1);
    --bool-secondary: rgba(71, 173, 241, 1);
}
/* #endregion Color Palette */

body{
    background-color: var(--bool-primary);
    font-family: 'Open Sans', sans-serif;
}


/* #region Header */

.logo{
    background-color: var(--bool-light);
    padding: 0.2rem;
}

.logo_img{
    vertical-align: top;
    margin-left: 0.5rem;
}

.logo_text{
    font-size: 2.3rem;
    font-weight: bold;
}
/* #endregion Header */

/* #region Main */
/* Nav menu */
#site_main{
    padding: 2rem;
}

.container{
    width: 80%;
    background-color: var(--bool-light);
    margin: auto;
    margin-bottom: 0.2rem;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.menu{
    padding-left: 1.5rem;
}

.add{
    display: inline-block;
    border: 1px solid;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
}

.task{
    background-color: var(--bool-secondary);
    border-color: var(--bool-secondary);
    color: var(--bool-light)
}

.section{
    background-color: var(--bool-light);
    color: darkgrey;
}

/* List menu */

h3{
    padding-bottom: 1rem;
}

.to_do_list{
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
}

.circle{
    font-size: 0.8rem;
    border: 1px solid black;
    padding: 0 4px;
    border-radius: 50%;
}

.post-it{
    font-size: 0.7rem;
    border-radius: 0.8rem;
    padding: 0.3rem 0.5rem;
    color: var(--bool-light);
}

.list_element{
    margin-bottom: 1.5rem;
}
/* #endregion Main */

/* #region Colors */

.checkmark{
    color: green;
    border-color: green;
}

.cross{
    color: red;
    border-color: red;
}

.editorial{
    background-color: var(--bool-secondary);
}

.goals{
    background-color: rgba(156, 114, 228, 1);
}

.recruit{
    background-color: rgba(100, 192, 168, 1); 
}

.mobile{
    background-color: rgba(242, 158, 51, 1);
}

.website{
    background-color: rgba(216, 99, 160, 1);
}

.sales{
    background-color: rgba(176, 201, 38, 1);
}

/* #endregion Colors */
